{% extends "base_template.html" %} {% block title %}Password Reset Request{%
endblock %} {% block header %}Password Reset Request{% endblock %} {% block
content %}
<p>Hello,</p>

<p>
  We received a request to reset your password. If you didn't make this request,
  you can safely ignore this email.
</p>

<p>
  To reset your password, click the button below or copy and paste the following
  link into your browser:
</p>

<div style="text-align: center">
  <a href="{{ reset_link }}" class="button">Reset Password</a>
</div>

<div class="code">{{ reset_link }}</div>

<p><strong>This link will expire in {{ expiry_minutes }} minutes.</strong></p>

<p>
  If you didn't request a password reset, please ignore this email and your
  password will remain unchanged.
</p>

<p>Best regards,<br />FastAPI Backend Team</p>
{% endblock %}
