{% extends "base_template.html" %} {% block title %}Password Changed
Successfully{% endblock %} {% block header %}Password Changed Successfully{%
endblock %} {% block content %}
<p>Hello {{ username }},</p>

<p>Your password has been successfully changed.</p>

<p>
  If you did not make this change, please contact our support team immediately
  and secure your account.
</p>

<p>For your security, we recommend:</p>
<ul>
  <li>Using a strong, unique password</li>
  <li>Not sharing your password with anyone</li>
  <li>Enabling two-factor authentication if available</li>
</ul>

<p>Best regards,<br />FastAPI Backend Team</p>
{% endblock %}
